<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hola bienvenido a mi API Monedero by Codigo</p>
    <p>Presentado por {{nombre}}{{edad}}</p>
    <p>Los galactivos son:</p>
    {#Jinja> es una libreria que sirve para renderizar html en el backend como en flasj, django, rapify#}
    {#https://jinja.palletsprojects.com/en/3.1.x/templates/#list-of-control-structures#}
    <ol>
    {%for integrante in integrantes%}
    <li>{{integrante}}</li>
    {%endfor %}
    </ol>
    {{integrantes}}
    {#en jinja podemos usar los diccionarios como si fueran JSON's en JS(diccionario.llave), si no existe esa propiedad no mostrara nada pero no lanzara error#}
    <p>El usuario es {{usuario.nombre}}</p>
    {#listar las selecciones de futbol en forma de una tabla#}
    <table border="1">
        <tr>
          <th>seleccion</th>
          <th>clasificado</th>
        </tr>
        {# hacer aqui el ejercicio #}
    
        {%for seleccion in selecciones%}
        <tr>
            <td>
            {{seleccion.nombre}}
            </td>
            <td>
                {%if seleccion.clasificado is true%} 
                'Nos vemos en Qatar'
                {%elif seleccion.clasificado is false %} 
                'Con suerte en el proximo'
                {%else%}
                'Aun no se sabe'
                {%endif%}
            {{seleccion.clasificado}}
            </td>
        </tr>
        {%endfor %}
        
      </table>
</body>
</html>